html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #243d3d;
}

#body-container {min-height: calc(100% - 140px);}

nav {
  border-bottom: 2px solid white;
  background-color: darkslategray;
}

main {margin: auto;}

#footer-container {
  height: 140px;
  border-top: 2px solid white;
  background-color: darkslategray;
}

footer {
  margin: auto;
  color: white;
  font-size: 40px;
}

article, input, textarea {
  font-family: "Taviraj", serif;
  font-size: 40px;
  color: darkslategray;
}

#sidebar-page {display: table;}

input, textarea {
  padding: 8px 8px 8px 8px;
  border: 0px dashed grey;
  background-color: #637180;
  color: white;
}

input {
  height: 32px;
  margin: 2px 0px 2px 0px;
}

input::placeholder, textarea::placeholder {color: lightgrey;}

button {
  cursor: pointer;
  height: 48px;
  margin: 2px 0px 2px 0px;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
  border: 0px;
  color: white;
}

button:active {
  box-shadow: none;
  transform: translateY(2px);
}

button:focus, a:focus {outline: none;}

button::-moz-focus-inner, a::-moz-focus-inner {border: none;}

.confirm-button {background-color: darkgreen;}

.confirm-button:hover {background-color: green;}

.cancel-button {background-color: darkred;}

.cancel-button:hover {background-color: red;}

input[type="checkbox"] {
  cursor: pointer;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}

#logo-link {margin: auto;}

#logo-image {
  width: 80%;
  height: auto;
  /*max-width: 386px;
  max-height: 82px;*/
}

nav ul {
  display: table;
  width: 100%;
  padding: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

nav li {
  display: table-row;
  text-align: left;
  /*width: 326px;*/
}

nav li:first-child {
  width: 1024px;
  position: relative;
  top: 4px;
  /*text-align: left;*/
}

nav a {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  /*padding-left: 16px; */
  height: 128px;
  line-height: 128px;
  font-family: "Titillium Web", sans-serif;
  font-size: 48px;
  text-decoration: none;
  color: white;
}

nav .icon {
  position: relative;
  bottom: 2px;
  padding-left: 16px;
  font-size: 56px;
  line-height: 56px;
  vertical-align: middle;
}

aside {
  display: table-cell;
  width: 200px;
  /*margin: 0px 8px 0px 8px;*/
  padding: 0px 8px 0px 8px;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #243d3d;
}

aside .option {
  display: block;
  margin: 16px 0px 16px 0px;
  padding: 16px 0px 16px 16px;
  text-decoration: none;
  color: lightslategray;
}

aside .option:first-child {margin-top: 28px;}

aside .option:hover {
  border-radius: 3px;
  background-color: white;
  color: lightslategray;
}

aside .selected {
  border: 1px solid white;
  border-radius: 3px;
  background-color: lightslategray;
  color: white;
}

aside .row:hover .arrow, aside .row:hover .article {color: indianred;}

.content-box {
  font-family: "Taviraj", serif;
  /*margin-top: 24px;*/
  padding: 32px 8px 32px 8px;
  border-bottom: 2px solid white;
  background-color: lightslategray;
  color: white;
}

/*.content-box:first-child {
  border-top: 2px solid white;
}*/

/*.content-box-bottom {
  position: relative;
  top: -2px;
  height: 0px;
}*/

.input-error {background-color: lightpink;}

.input-error::placeholder {color: indianred;}

.error {
  padding: 12px 0px 12px 0px;
  color: orange;
}

#welcome .the-stack {
  display: block;
  max-width: 1024px;
  padding: 32px 0px 32px 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
}

#welcome .the-stack:hover {
  background-color: white;
  color: lightslategray;
}

#login-article {display: table-cell;}

#login-article .input {width: 97.8%;}

#login-article .button {width: 49.7%;}

#login-article .message {padding: 12px 0px 12px 0px;}

#login-article .settings {display: table;}

#login-article .settings .row {display: table-row;}

#login-article .settings .row .left-side {
  display: table-cell;
  text-align: right;
  padding-right: 16px;
}

#login-article .settings .row .name {
  color: lightgreen;
  padding: 12px 0px 12px 4px;
}

#login-article .settings .row .right-side {
  display: table-cell;
  width: 97.4%;
}

#topics-article {
  /*padding: 0px 8px 0px 8px;*/
  background-color: #243d3d;
  color: lightslategray;
}

#topics-article .not-found {
  padding: 24px 0px 0px 16px;
  font-family: "Titillium Web", sans-serif;
  font-size: 56px;
}

#topics-article .post-header {
  display: table;
  padding-bottom: 8px;
}

#topics-article .post-header .left-side {
  display: table-cell;
  white-space: nowrap;
}

#topics-article .post-header .left-side .title {color: lightblue;}

#topics-article .post-header .left-side .user {color: lightgreen;}

#topics-article .post-header .left-side .reply {color: lightsteelblue;}

#topics-article .post-header .right-side {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#topics-article .post-header .center {
  display: table-cell;
  width: 1024px;
}

#topics-article .post-header .right-side {
  display: table-cell;
  padding: 0px 16px 0px 16px;
  white-space: nowrap;
  color: white;
}

#topics-article .post-header .right-side:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .post-header .right-comment {
  display: table-cell;
  padding-right: 4px;
  color: lightsteelblue;
}

#topics-article .post-edited {
  padding-top: 8px;
  font-style: italic;
  color: lightsteelblue;
}

#topics-article .pager-bar {
  display: table;
  width: 100%;
  margin: auto;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  /*border-bottom: 2px solid white;*/
  background-color: lightslategray;
}

#topics-article .pager-bar-top {
  /*position: relative;
  top: -1px;*/
  border-bottom: 2px solid white;
}

#topics-article .pager-bar-bottom {
  /*position: relative;
  bottom: -1px;
  margin-bottom: -10px;*/
  height: 88px;
}

#topics-article .pager-bar .side {display: table-cell;}

#topics-article .pager-bar .arrow {
  display: table-cell;
  width: 17%;
  font-size: 48px;
  text-decoration: none;
  color: white;
}

#topics-article .pager-bar .border {border-right: 2px solid white;}

#topics-article .pager-bar .arrow:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .pager-bar .page {
  display: table-cell;
  width: 32%;
  padding: 8px 0px 8px 0px;
  font-size: 48px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  color: lightblue;
}

#topics-article .new-post {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 24px;
  padding: 24px 0px 24px 0px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: lightslategray;
  color: white;
}

#topics-article .new-post:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .input {width: 98.1%;}

#topics-article .new-post-button {
  width: 19.65%;
  background-color: darkblue;
}

#topics-article .new-post-button:hover {background-color: blue;}

#topics-article #new-post-bold {font-weight: bold;}

#topics-article #new-post-italic {font-style: italic;}

#topics-article .post-button {width: 49.7%;}

#topics-article .link {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: white;
}

#topics-article .link:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .picture {
  display: block;
  max-width: 100%;
  margin: 8px 0px 8px 0px;
}

#topics-article .youtube-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 8px 0px 8px 0px;
}

#topics-article .youtube-container .video {
  position: absolute;
  width: 100%;
  height: 100%;
}
