html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #182929;
}

#body-container {min-height: calc(100% - 70px);}

nav {
  border-bottom: 1px solid white;
  background-color: darkslategray;
}

main {
  max-width: 1024px;
  margin: auto;
}

#footer-container {
  height: 70px;
  border-top: 1px solid white;
  background-color: darkslategray;
}

footer {
  max-width: 1024px;
  margin: auto;
  color: white;
}

article, input, textarea {
  font-family: "Taviraj", serif;
  font-size: 16px;
  color: darkslategray;
}

#sidebar-page {display: table;}

article {
  max-width: 1024px;
  padding: 0px 8px 0px 8px;
}

input, textarea {
  padding: 8px 8px 8px 8px;
  border: 0px dashed grey;
  background-color: #637180;
  color: white;
}

input {
  height: 32px;
  margin: 2px 0px 2px 0px;
}

input::placeholder, textarea::placeholder {color: lightgrey;}

button {
  cursor: pointer;
  height: 48px;
  margin: 2px 0px 2px 0px;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
  border: 0px;
  color: white;
}

button:active {
  box-shadow: none;
  transform: translateY(2px);
}

button:focus, a:focus {outline: none;}

button::-moz-focus-inner, a::-moz-focus-inner {border: none;}

.confirm-button {background-color: darkgreen;}

.confirm-button:hover {background-color: green;}

.cancel-button {background-color: darkred;}

.cancel-button:hover {background-color: red;}

#logo-link {margin: auto;}

#logo-image {
  width: 100%;
  height: auto;
  max-width: 386px;
  max-height: 82px;
}

nav ul {
  display: table;
  max-width: 1024px;
  padding: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

nav li {
  display: table-cell;
  width: 326px;
}

@media screen and (max-width: 1000px) {
  nav li {display: table-row;}
}

@media screen and (max-width: 1000px) {
  nav li:last-child {
    line-height: 64px;
    height: 64px;
  }
}

nav li:first-child {
  width: 1024px;
  position: relative;
  top: 4px;
  text-align: left;
}

nav a {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

nav .icon {
  position: relative;
  bottom: 2px;
  font-size: 24px;
  line-height: 48px;
  vertical-align: middle;
}

@media screen and (min-width: 1001px) {
  #aside-row {
    display: table-cell;
    width: 300px;
  }
}

@media screen and (max-width: 1000px) {
  #aside-row {display: table-row;}
}

aside {
  display: table-cell;
  width: 300px;
  /*margin: 0px 8px 0px 8px;*/
  padding: 0px 8px 0px 8px;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #182929;
}

aside .option {
  display: block;
  margin: 16px 0px 16px 0px;
  padding: 16px 0px 16px 16px;
  text-decoration: none;
  color: lightslategray;
}

@media screen and (max-width: 1000px) {
  aside .option {text-align: center;}
}

aside .option:first-child {margin-top: 28px;}

aside .option:hover {
  border-radius: 3px;
  background-color: white;
  color: lightslategray;
}

aside .selected {
  border: 1px solid white;
  border-radius: 3px;
  background-color: lightslategray;
  color: white;
}

aside .row:hover .arrow, aside .row:hover .article {color: indianred;}

.content-box {
  font-family: "Taviraj", serif;
  margin-top: 24px;
  padding: 8px 8px 8px 8px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: lightslategray;
  color: white;
}

.content-box-bottom {height: 24px;}

.input-error {background-color: lightpink;}

.input-error::placeholder {color: indianred;}

.error {
  padding: 12px 0px 12px 0px;
  color: orange;
}

#welcome .the-stack {
  display: block;
  max-width: 1024px;
  padding: 16px 0px 16px 0px;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: white;
}

#welcome .the-stack:hover {
  background-color: white;
  color: lightslategray;
}

#login-article {
  display: table-cell;
  width: 1024px;
}

#login-article .input {width: 97.8%;}

@media screen and (max-width: 1000px) {
  #login-article .input {width: 95%;}
}

#login-article .button {width: 49.7%;}

@media screen and (max-width: 1000px) {
  #login-article .button {width: 49.2%;}
}

#login-article .message {padding: 12px 0px 12px 0px;}

#login-article .settings {display: table;}

#login-article .settings .row {display: table-row;}

#login-article .settings .row .left-side {
  display: table-cell;
  text-align: right;
  padding-right: 16px;
}

#login-article .settings .row .name {
  color: lightgreen;
  padding: 12px 0px 12px 4px;
}

#login-article .settings .row .right-side {
  display: table-cell;
  width: 97.4%;
}

@media screen and (max-width: 1000px) {
  #login-article .settings .row .right-side {width: 92%;}
}

#topics-article {
  padding: 0px 8px 0px 8px;
  background-color: #182929;
  color: lightslategray;
}

#topics-article .not-found {
  padding-top: 24px;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

#topics-article .post-header {
  display: table;
  padding-bottom: 8px;
}

#topics-article .post-header .left-side {
  display: table-cell;
  white-space: nowrap;
}

#topics-article .post-header .left-side .title {color: lightblue;}

#topics-article .post-header .left-side .user {color: lightgreen;}

#topics-article .post-header .left-side .reply {color: lightsteelblue;}

#topics-article .post-header .right-side {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#topics-article .post-header .center {
  display: table-cell;
  width: 1024px;
}

#topics-article .post-header .right-side {
  display: table-cell;
  vertical-align: middle;
  padding: 0px 16px 0px 16px;
  white-space: nowrap;
  color: white;
}

#topics-article .post-header .right-side:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .post-header .right-comment {
  display: table-cell;
  vertical-align: bottom;
  padding-right: 4px;
  color: lightsteelblue;
}

#topics-article .post-edited {
  padding-top: 8px;
  font-style: italic;
  color: lightsteelblue;
}

#topics-article .pager-bar {
  display: table;
  width: 50%;
  margin: auto;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 2px;
  background-color: lightslategray;
}

@media screen and (max-width: 1000px) {
  #topics-article .pager-bar {width: 100%;}
}

#topics-article .pager-bar-top {
  position: relative;
  top: -1px;
}

#topics-article .pager-bar-bottom {
  position: relative;
  bottom: -2px;
  margin-bottom: 1px;
}

#topics-article .pager-bar .side {display: table-cell;}

#topics-article .pager-bar .arrow {
  display: table-cell;
  width: 17%;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

#topics-article .pager-bar .border {border-right: 1px solid white;}

#topics-article .pager-bar .arrow:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .pager-bar .page {
  display: table-cell;
  width: 32%;
  padding: 8px 0px 8px 0px;
  font-size: 18px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: lightblue;
}

#topics-article .new-post {
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 24px;
  padding: 24px 0px 24px 0px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: lightslategray;
  color: white;
}

#topics-article .new-post:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .input {width: 98.1%;}

@media screen and (max-width: 1000px) {
  #topics-article .input {width: 95%;}
}

#topics-article .new-post-button {
  width: 19.65%;
  background-color: darkblue;
}

@media screen and (max-width: 1000px) {
  #topics-article .new-post-button {width: 18.9%;}
}

#topics-article .new-post-button:hover {background-color: blue;}

#topics-article #new-post-bold {font-weight: bold;}

#topics-article #new-post-italic {font-style: italic;}

#topics-article .post-button {width: 49.7%;}

@media screen and (max-width: 1000px) {
  #topics-article .post-button {width: 49%;}
}

#topics-article .link {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: white;
}

#topics-article .link:hover {
  background-color: white;
  color: lightslategray;
}

#topics-article .image {
  display: block;
  max-width: 100%;
  margin: 8px 0px 8px 0px;
}

#topics-article .youtube-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin: 8px 0px 8px 0px;
}

#topics-article .youtube-container .video {
  position: absolute;
  width: 100%;
  height: 100%;
}
